<div class="main-container">
  <div class="row min-height-600 no-flex-wrap">
    <div class="card col-md-2 pr-2">
      menu left
    </div>
    <div class="card  col-md-10 pl-0 pr-O background-grey border-none">
      <div class="col pl-0 pr-O d-flex flex-column justify-content-between">
          <div class="card min-height-80 mb-2">
          header
        </div>
        <div class="card mb-2" style="min-height:600px ">
          main
        </div>
        <div class="card min-height-80">
          footer
        </div>
     </div>
    </div>
  </div>
</div>
  <router-outlet></router-outlet>
